@import "tailwindcss";
@plugin "daisyui";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@layer utilities {
    .border-test {
        border: 1px solid red;
    }
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .around {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .bg-gradient-left {
        background-image: conic-gradient(from 90deg at -10% 100%, #2b303b 0deg, #2b303b 90deg, #16181d 1turn);
    }
    .inter-txwe {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
    }
    .height-change { height: calc(100vh + 40px) }
    .enroll-rounded {
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .border-bf { border: 1px solid #BFBFBF; }

    .animate-to-left { animation: animateToLeft 0.5s ease-in; } /* for second inner auth when come on */
    @keyframes animateToLeft {
        from { transform: translateX(250px); }
        to { transform: translateX(0px);; }
    } 

    .animate-to-left-f { animation: animateToLeft_F 0.5s ease-in; } /* for second inner auth when come on */
    @keyframes animateToLeft_F {
        from { transform: translateX(0px); }
        to { transform: translateX(-250px);; }
    } 

}